@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Lato', system-ui, sans-serif;
    color: #fafafa;
  }
  body {
    padding: 30px;
    background-color: #0f172a;
  }
}

@layer utilities {
  .shape-outside {
    float: left;
    shape-outside: circle(64px at 64px 50%);
  }
  .clip-pattern {
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }
  .clip-card-pattern {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  .clip-card-pattern-child {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  .clip-form {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  }
  .animation-fill-back {
    animation-fill-mode: backwards;
  }
  .rotate-y-180 {
    transform: rotateY(-180deg);
  }
  .rotate-y-0 {
    transform: rotateY(0);
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .bg-orange {
    background-image: linear-gradient(to bottom right, #fed7aa, #ea580c);
  }
  .bg-cyan {
    background-image: linear-gradient(to bottom right, #a5f3fc, #0891b2);
  }
  .bg-violet {
    background-image: linear-gradient(to bottom right, #ddd6fe, #7c3aed);
  }
  .bg-orange-transparent {
    background-image: linear-gradient(
      to bottom right,
      rgba(254, 215, 170, 0.8),
      rgba(234, 88, 12, 0.8)
    );
  }
  .bg-cyan-transparent {
    background-image: linear-gradient(
      to bottom right,
      rgba(165, 243, 252, 0.8),
      rgba(8, 145, 178, 0.8)
    );
  }
  .bg-violet-transparent {
    background-image: linear-gradient(
      to bottom right,
      rgba(221, 214, 254, 0.8),
      rgba(124, 58, 237, 0.8)
    );
  }
  .radial-gradient {
    background: radial-gradient(#4c1d95, #7c3aed);
  }
  .bg-nav {
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      #fff 50%
    );
    background-size: 250%;
    background-position: 0%;
  }
  .bg-nav-hover {
    background-position: 100%;
  }
}
